<!DOCTYPE html>
<html>
​
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
​
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Yatra+One&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    {{!-- don't remove this  --}}
  <link rel="stylesheet" href="/layout.css">
   {{!-- end here --}}
  <script src="/adopt-pet-api-v0.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap" />
  <link rel="stylesheet" href='{{style}}' />
</head>
​
<body>
  
​
​
  <nav class="navbar navbar-expand-lg navbar-expand-sm fixed-top">
   <a class="navbar-brand" href="/">Pet Finder</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon" ><i class="fa fa-caret-down text-light" style="font-size:25px;" aria-hidden="true"></i></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
       <li class="nav-items mr-1">
         <a class="nav-link {{#isActive title 'Dogs'}} active {{/isActive}}" href="/alldogs">Dogs</a>
       </li>
       <li class="nav-item mr-1">
         <a class="nav-link {{#isActive title 'Cats'}} active {{/isActive}}" href="/allcats">Cats</a>
       </li>
       {{#if loggedin}}
       <li class="nav-item mr-1">
         <a class="nav-link  {{#isActive title 'User Profile'}} active {{/isActive}}" href="
         {{#if user}}
         /userprofile/{{user}}/
         {{/if}}
         ">User Profile</a>
       </li>
       <li class="nav-item mr-1">
         <a class="nav-link  {{#isActive title 'Request'}} active {{/isActive}}" href="
         {{#if user}}
        /adopt/request/
         {{/if}}
         ">Request</a>
       </li>
       {{/if}}
       <li class="nav-item dropdown mr-1">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
           Breeds
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           <a class="dropdown-item" id="dogBreed" href="/dogs">Dog Breeds</a>
           <a class="dropdown-item" id="catBreed" href="/cats">Cat Breeds</a>
         </div>
       </li>
       <li class="nav-item mr-1">
         <a class="nav-link {{#isActive title 'Success Stories'}} active {{/isActive}}" href="/adopted">Adopted</a>
       </li>
       </ul>
       <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a id="addPet" class="btn btn-outline-light hvr-grow" {{#isActive title 'Add Pets'}} active {{/isActive}} href="/pets/addpet/">Add Pets</a>
       </li>
       <li class="nav-item">
         <a href="/login{{#if loggedin}}/logout{{/if}}" id="login" class="btn btn-outline-light hvr-grow">
           {{#if loggedin}}
           Logout
           {{else}}
           Login
           {{/if}}
         </a>
       </li>
       {{!-- <li class="nav-item">
       <a href="/login/logout" id="logout" class="btn btn-outline-light hvr-grow">Logout </a>
     </li> --}}
       {{#if loggedin}}
       {{else}}
       <li class="nav-item">
         <button type="button" id="signup" class="btn btn-outline-light hvr-grow" href="/signup">Signup</button>
       </li>
       {{/if}}
     </ul>
   </div>
 </nav>
​
​
  {{{body}}}
​
{{!-- don't remove this  --}}
  
 {{!-- end here --}}
​
  {{!-- cdn links --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
​
  {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script> --}}
  <script src="https://kit.fontawesome.com/dbf17313af.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>
  <script src='{{script}}'></script>
​
​
</body>
​
</html>