<div class="container-fluid wrapper-top mb-5">

  <div class="row mb-5">
    {{#each pets}}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 mt-4">
      <div class="card">
        <div class="inner">
          <img class="card-img-top" src="{{this.url}}">
        </div>

        <div class="card-block">
          <h4 class="card-title text-center pt-3">{{this.name}}</h4>
        
          <div class="card-text text-center border-top ">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">{{this.age}}</li>
              <li class="list-group-item text-center">{{this.color}}</li>
              <li class="list-group-item text-center">{{this.location}}</li>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a href="/petprofile/{{this._id}}" class="info">

              <i class="fa fa-info-circle info" style="font-size:20px;color:lightblue"></i>
            </a></span><span class="like-container">
            <button type="submit" value="{{this._id}}" class="btn hvr-glow like-click"><i class="fa fa-heart-o my-heart"
                { style="color:white;" }></i>
            </button>
            <span class="likes">{{this.likes_count}}</span>
          </span>

        </div>

      </div>

    </div>
    {{/each}}
  </div>
</div>